<!--<app-home-page></app-home-page>-->
<!--<app-saludo></app-saludo>-->
<app-list-contacts></app-list-contacts>
<!--<div class="content" role="main">

 <h1>Hola, {{title}} </h1>
 Input para trabajar con NgModel--
 <input type="text" placeholder="user's name" [(ngModel)]="usuario"/>-->
 <!--<app-saludo [name]="usuario" (messageEmitter)="receiveMessage($event)"></app-saludo><!-referencia a algo que esta en el controller-->
 <!--<app-saludo name="pepe"></app-saludo>valores definidos

</div>-->

<!--TODO: Router Outlet renderiza aquello que le indique el Routing Module a partir de la URL en la que estemos-->
<!--<router-outlet></router-outlet>-->

